@page
@model PubsRazorPages.Pages.Titles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Title.TitleID" />
            <div class="form-group">
                <label asp-for="Title.BookTitle" class="control-label"></label>
                <input asp-for="Title.BookTitle" class="form-control" />
                <span asp-validation-for="Title.BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.Type" class="control-label"></label>
                <input asp-for="Title.Type" class="form-control" />
                <span asp-validation-for="Title.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.PublisherID" class="control-label"></label>
                <select asp-for="Title.PublisherID" class="form-control" asp-items="ViewBag.PublisherID"></select>
                <span asp-validation-for="Title.PublisherID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.Price" class="control-label"></label>
                <input asp-for="Title.Price" class="form-control" />
                <span asp-validation-for="Title.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.Advance" class="control-label"></label>
                <input asp-for="Title.Advance" class="form-control" />
                <span asp-validation-for="Title.Advance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.Royalty" class="control-label"></label>
                <input asp-for="Title.Royalty" class="form-control" />
                <span asp-validation-for="Title.Royalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.YearToDateSales" class="control-label"></label>
                <input asp-for="Title.YearToDateSales" class="form-control" />
                <span asp-validation-for="Title.YearToDateSales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.Notes" class="control-label"></label>
                <input asp-for="Title.Notes" class="form-control" />
                <span asp-validation-for="Title.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.PublishDate" class="control-label"></label>
                <input asp-for="Title.PublishDate" class="form-control" />
                <span asp-validation-for="Title.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
